
* {
    margin: 0px;
}
.nav {
    border: 3px solid rgb(255, 0, 0);
    text-align: center;
    background-image: white;
    min-width: 320px;
    height: 100vh;
}

/* tamaño barra navegación  */
.main {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 5vh;
    border: 3px solid blue;  
}


.caja2 {
    padding-left: 10%;
    color: #0087ca;

}


.Logo { 
    height: auto;
    max-width: 10%;
}


/* carateristicas del boton */
.Button {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e60023;
    border: none;
    border-radius: 15px;
}


.Button3 {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #efefef;
    border: none;
    border-radius: 15px;

}
.texto {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color: rgb(165, 165, 165);
    padding: 10px;
}


.Button:hover {
    background-color: #a3081a
    
}


.Button3:hover {
    background-color: #d6d6d6
    
}


.Botonesgr {
    display: flex;
    justify-content: flex-end;
}




/* seccion 2 */
.seccion2 {
    display:flex;
    align-items: center;
    justify-content:  center;
    height: 5vh;
    border: 3px solid rgb(255, 0, 255);
    padding: 10% 10%; 
}
.textocentral {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-decoration:none;
    color: black;
}





/*  QUERY  */
@media (max-width:769px) {
    .Botonesgr {
        display: flex;
        justify-content: flex-end;
    }
    .Button {
        display: none;
    }
    .Button3 {
        display: none;
    }

    .Logo { 
        height: auto;
        max-width: 25%;
    }
    .caja2 {
        font-size: 10%;
        display: flex;
        font-size: 100%;
    }

}


@media (min-width:769px) {
    .caja2 {
        padding-left: 30%;
        color: #0087ca;
    }
}